<!-- <h2>{{ stdname | lowercase }}</h2>
<h2>{{ stdname | uppercase }}</h2>
<h2>{{ stdname | titlecase }}</h2>
<h2>{{ stdname | slice:1:5 }}</h2>
<h2>{{ stdname | slice:0:2 }}</h2>
<h2>{{ stdDetails | json }}</h2>
<hr>
<h2>{{ stdNumber | percent }}</h2>
<h2>{{ stdNumber | number:'2.1-5' }}</h2>
<h2>{{ stdNumber | number:'3.7' }}</h2>
<h2>{{ stdNumber | number:'2.4' }}</h2>
<h2>{{ stdMarks  | number:'1.3' }}</h2>
<hr>
<h2>{{ stdCurrency | currency  }}</h2>
<h2>{{ stdCurrency | currency:'Rs.':'symbol'  }}</h2>
<h2>{{ stdCurrency | currency:'EUR'  }}</h2>
<h2>{{ stdCurrency | currency:'INR'  }}</h2> -->
<!-- <hr>
<h2>{{ myDate }}</h2>
<h2>{{ myDate | date:'full' }}</h2>
<h2>{{ myDate | date:'short' }}</h2>
<h2>{{ myDate | date:'medium' }}</h2>
<h2>{{ myDate | date:'shortTime' }}</h2>
<h2>{{ myDate | date:'mediumTime' }}</h2>
<h2>{{ myDate | date:'longTime' }}</h2>
<h2>{{ myDate | date:'M-d-y' }}</h2>
<h2>{{ myDate | date:'MMM-d-y' }}</h2>
<h2>{{ myDate | date:'MMM-d-y (E) - w' }}</h2> -->
<hr>
<h2>My Pipe</h2>
<h2>This is pkr to dollar $: {{ 10 | pKRDOLLAR }}</h2>
<hr>
<h2>The Power rule {{ 2 | sQUARE:10 }}</h2>
<h2>{{ "Pakistan Zindabad" | reverse }}</h2>


